.NavBar {
    position: fixed;
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

.FirstPageLink {
    width: 100%;
    text-align: center;
    border-right: 1px solid black;
}

.SecondPageButton {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.ShareBlock {
    margin-top: 16px;
}
